Repository cloudevents/sdk-go, pull requests merged in 2020-06, with the labels that each got.

#540 fix EventReceiver does not propagate request context
  v2/client/http_receiver.go
  v2/client/http_receiver_test.go
Labels: bug, component/protocol/http

#538 Added new matchers
  v2/test/event_matchers.go
  v2/test/event_matchers_test.go
Labels: enhancement

#550 Fixed wrong result propagation
  v2/client/client.go
Labels: bug, component/client

#549 Added WithMessageKey to add the key to a producer message
  protocol/kafka_sarama/v2/sender.go
  protocol/kafka_sarama/v2/sender_test.go
  samples/kafka/sender/main.go
  v2/test/event_mocks.go
Labels: component/protocol/kafka, enhancement
