Repository cloudevents/sdk-go, pull requests merged in 2020-10, with the labels that each got.

#594 Fix kafka consumer OpenInbound loop
  protocol/kafka_sarama/v2/receiver.go
Labels: bug, component/protocol/kafka

#596 add ability to specify custom func for retry policy
  v2/protocol/http/options.go
  v2/protocol/http/options_test.go
  v2/protocol/http/protocol.go
  v2/protocol/http/protocol_retry.go
  v2/protocol/http/protocol_retry_test.go
  v2/protocol/http/protocol_test.go
Labels: component/protocol/http, enhancement

#597 pass http.Option through
  v2/client/client_default.go
Labels: component/client, enhancement

#600 Use errgroup to wait for subscribers in OpenInbound
  protocol/pubsub/v2/go.mod
  protocol/pubsub/v2/protocol.go
Labels: bug, component/protocol/pubsub
