Repository cloudevents/sdk-go, pull requests merged in 2020-12, with the labels that each got.

#637 Provide additional context in shutdown errors
  v2/client/client.go
  v2/go.mod
  v2/protocol/http/protocol.go
  v2/protocol/http/protocol_lifecycle.go
Labels: bug, component/protocol/http

#641 Add required call to SetID when marshalling JSON CloudEvent.
  README.md
Labels: documentation

#644 Minor fix of kafka samples
  samples/kafka/message-handle-non-cloudevents/main.go
  samples/kafka/sender-receiver/main.go
  samples/kafka/sender/main.go
Labels: component/protocol/kafka, documentation
