Repository cloudevents/sdk-go, pull requests merged in 2020-11, with the labels that each got.

#611 HttpReceiver blocks when receiving non POST request (#610)
  v2/client/http_receiver.go
  v2/client/http_receiver_test.go
Labels: bug, component/protocol/http

#613 Benchmark Json marshal/unmarshal
  v2/event/event_data_test.go
  v2/event/event_marshal_benchmark_test.go
  v2/event/event_marshal_test.go
Labels: component/event, performance

#616 URI must be absolute
  v2/event/eventcontext_v1.go
  v2/event/eventcontext_v1_test.go
  v2/types/uri.go
Labels: bug, component/event

#606 Websocket protocol binding (only client)
  protocol/ws/v2/client_protocol.go
  protocol/ws/v2/client_protocol_test.go
  protocol/ws/v2/context.go
  protocol/ws/v2/doc.go
  protocol/ws/v2/go.mod
  protocol/ws/v2/go.sum
  protocol/ws/v2/subprotocols.go
  protocol/ws/v2/subprotocols_test.go
  samples/README.md
  samples/ws/client/main.go
  samples/ws/go.mod
  samples/ws/go.sum
  v2/binding/utils/structured_message.go
  v2/binding/utils/structured_message_test.go
  v2/binding/utils/write_structured_message.go
  v2/binding/utils/write_structured_message_test.go
  v2/protocol/inbound.go
Labels: component/protocol, enhancement

#618 Json streaming parser
  test/integration/go.sum
  test/integration/http/receiver_v1_test.go
  v2/event/event_marshal.go
  v2/event/event_marshal_benchmark_test.go
  v2/event/event_marshal_test.go
  v2/event/event_unmarshal.go
  v2/event/event_unmarshal_benchmark_test.go
  v2/event/event_unmarshal_test.go
  v2/go.mod
  v2/go.sum
Labels: component/event, performance

#627 Add test for corner-case of having data_base64 as an extension in V03
  v2/event/event_unmarshal_test.go
Labels: component/event, enhancement

#626 Remove intermediary reader and directly feed iterator for unmarshal
  v2/event/event_unmarshal.go
Labels: component/event, performance

#628 Only use the token queue for fields we really can't parse immediately
  v2/event/event_unmarshal.go
Labels: component/client, performance

#625 Remove writing through stream when caching data
  v2/event/event_unmarshal.go
  v2/event/event_unmarshal_test.go
Labels: component/event, performance

#629 Drop unnecessary stream operation, reading handles escaping
  v2/event/event_unmarshal.go
Labels: component/event, performance

#631 Handle cached byte array directly rather than reparsing
  v2/event/event_unmarshal.go
Labels: component/event, performance
