Repository cloudevents/sdk-go, pull requests merged in 2020-04, with the labels that each got.

#438 Kafka Transport uses senderTransformers
  v2/protocol/kafka_sarama/protocol.go
Labels: SDKv2, bug, component/protocol/kafka

#439 Fix Respond lifecycle in HTTP protocol
  v2/client/test/mock_client.go
  v2/protocol/gochan/responder.go
  v2/protocol/http/protocol.go
  v2/protocol/http/protocol_test.go
  v2/protocol/inbound.go
Labels: SDKv2, bug, component/protocol/http

#440 Added ID to EventTraceAttributes
  v2/client/observability.go
Labels: SDKv2, component/client, enhancement

#436 add support for HTTP retries
  v2/alias.go
  v2/context/context.go
  v2/context/retry.go
  v2/protocol/http/options.go
  v2/protocol/http/protocol.go
  v2/protocol/http/protocol_test.go
  v2/protocol/http/retries_result.go
  v2/protocol/http/retries_result_test.go
  v2/protocol/result.go
Labels: SDKv2, component/protocol/http, enhancement

#444 Perf improvements in HTTP protocol
  v2/binding/spec/match_exact_version.go
  v2/binding/spec/match_exact_version_test.go
  v2/protocol/http/headers.go
  v2/protocol/http/message.go
  v2/protocol/http/write_request.go
  v2/protocol/http/write_responsewriter.go
Labels: SDKv2, component/protocol/http, enhancement

#447 Added transformers to read and write DistributedTracing extension
  v2/extensions/distributed_tracing_extension.go
  v2/extensions/distributed_tracing_extension_test.go
Labels: Extensions, SDKv2

#448 Hotfix for http message headers
  v2/protocol/http/message.go
  v2/protocol/http/message_test.go
Labels: SDKv2, component/protocol/http

#449 Hotfix for MessageWrapper
  v2/binding/buffering/acks_before_finish_message.go
  v2/binding/buffering/acks_before_finish_message_test.go
  v2/binding/finish_message.go
  v2/binding/finish_message_test.go
Labels: SDKv2, component/binding

#454 Replaced the amqp dep
  v2/cmd/samples/amqp/receiver/main.go
  v2/cmd/samples/amqp/sender/main.go
  v2/go.mod
  v2/go.sum
  v2/protocol/amqp/message.go
  v2/protocol/amqp/message_test.go
  v2/protocol/amqp/options.go
  v2/protocol/amqp/protocol.go
  v2/protocol/amqp/receiver.go
  v2/protocol/amqp/sender.go
  v2/protocol/amqp/write_message.go
  v2/test/integration/amqp/amqp_test.go
  v2/test/integration/amqp_binding/amqp_test.go
Labels: component/protocol/amqp

#458 Close lifecycle
  v2/client/client.go
  v2/client/test/test.go
  v2/cmd/samples/amqp/receiver/main.go
  v2/cmd/samples/amqp/sender/main.go
  v2/cmd/samples/httptonats/main.go
  v2/cmd/samples/kafka/receiver/main.go
  v2/cmd/samples/kafka/sender/main.go
  v2/cmd/samples/kafka/sender_and_receiver/main.go
  v2/cmd/samples/nats/receiver/main.go
  v2/cmd/samples/nats/sender/main.go
  v2/cmd/samples/stan/receiver/main.go
  v2/cmd/samples/stan/sender/main.go
  v2/cmd/samples/stan/sender_and_receiver/main.go
  v2/protocol/amqp/protocol.go
  v2/protocol/amqp/receiver.go
  v2/protocol/amqp/sender.go
  v2/protocol/gochan/protocol_test.go
  v2/protocol/gochan/receiver.go
  v2/protocol/http/options.go
  v2/protocol/http/options_test.go
  v2/protocol/http/protocol.go
  v2/protocol/http/protocol_lifecycle.go
  v2/protocol/http/protocol_test.go
  v2/protocol/kafka_sarama/protocol.go
  v2/protocol/kafka_sarama/receiver.go
  v2/protocol/kafka_sarama/sender.go
  v2/protocol/lifecycle.go
  v2/protocol/nats/protocol.go
  v2/protocol/nats/receiver.go
  v2/protocol/nats/sender.go
  v2/protocol/stan/options.go
  v2/protocol/stan/options_test.go
  v2/protocol/stan/protocol.go
  v2/protocol/stan/receiver.go
  v2/protocol/stan/sender.go
  v2/test/integration/amqp/amqp_test.go
  v2/test/integration/amqp_binding/amqp_test.go
  v2/test/integration/kafka_sarama_binding/kafka_test.go
Labels: component/protocol, component/protocol/amqp, component/protocol/http, component/protocol/kafka, component/protocol/nats

#457 Now Send/Request/ResponseFn accept transformers
  v2/binding/transformer/default_metadata.go
  v2/binding/transformer/default_metadata_test.go
  v2/protocol/amqp/options.go
  v2/protocol/amqp/protocol.go
  v2/protocol/amqp/sender.go
  v2/protocol/gochan/requester.go
  v2/protocol/gochan/responder.go
  v2/protocol/gochan/sender.go
  v2/protocol/http/protocol.go
  v2/protocol/http/protocol_test.go
  v2/protocol/inbound.go
  v2/protocol/kafka_sarama/option.go
  v2/protocol/kafka_sarama/protocol.go
  v2/protocol/kafka_sarama/sender.go
  v2/protocol/nats/options.go
  v2/protocol/nats/options_test.go
  v2/protocol/nats/protocol.go
  v2/protocol/nats/sender.go
  v2/protocol/nats/write_message.go
  v2/protocol/outbound.go
  v2/protocol/pubsub/protocol.go
  v2/protocol/stan/options.go
  v2/protocol/stan/options_test.go
  v2/protocol/stan/protocol.go
  v2/protocol/stan/sender.go
  v2/protocol/test/test_test.go
Labels: component/protocol, component/protocol/amqp, component/protocol/http, component/protocol/kafka, component/protocol/nats, enhancement

#437 Kafka Key Mapping implementation
  v2/protocol/kafka_sarama/write_producer_message.go
  v2/protocol/kafka_sarama/write_producer_message_test.go
Labels: SDKv2, component/protocol/kafka, enhancement

#476 Working on website
  README.md
  docs/_config.yml
  docs/concepts.md
  docs/event_data_structure.md
  docs/index.md
  docs/protocol_implementations.md
Labels: enhancement
