Repository cloudevents/sdk-go, pull requests merged in 2021-01, with the labels that each got.

#645 Fix Kafka ConsumeClaim loop to Mark right offset
  protocol/kafka_sarama/v2/receiver.go
Labels: bug, component/protocol/kafka

#638 Fix typo and change package of Result return value in fn signature
  v2/client/receiver.go
Labels: component/client

#621 Implemented streaming writer
  v2/binding/format/format_test.go
  v2/client/client_test.go
  v2/event/event_marshal.go
  v2/event/event_marshal_test.go
Labels: component/event, performance

#639 Remove validation from the string representation
  v2/event/event.go
  v2/event/event_test.go
Labels: bug, component/event

#659 Propagate informations from inbound messages up to Client
  observability/opencensus/v2/observability_service.go
  v2/client/client.go
  v2/client/http_receiver.go
  v2/client/invoker.go
  v2/client/observability.go
  v2/client/options.go
Labels: component/client

#660 Added a test for null json attributes
  v2/event/event_unmarshal_test.go
Labels: component/event
